#canvas{
    display: flex;
    top: 25%;
    height: 300px;
    margin: 0 auto;
    perspective: 2000px;
    perspective-origin: center center;
    position: relative;
    transform: translateY(-50%);
    width: 500px;
  }
  
  .point{
    background: #E87A24;
    border-radius: 50%;
    height: 4px;
    position: absolute;
    transform-style: preserve-3d;
    width: 4px;
  }
  
  @media only screen and  (max-width:850px) {
  
    
    
    
     
         
  }
  
  
   @media only screen and  (max-width:830px) {
      
    #canvas{
        display: flex;
        top: -80px;
        height: 0px;
        margin: 0 auto;
        perspective: 2000px;
        perspective-origin: center center;
        position: relative;
        transform: translateY(-50%);
        width: 100%;
      }
           
   }