.comoTrabajamos{
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: max-content;
    backdrop-filter: blur(10px);
  
}
.comoTrabajamos h4{
    font-size: 100px;
    color: #ffffff;
    line-height: 90px;
}
.comoTrabajamos .text__special{
    color: #FF6F00;
}
.slogan__comoTrabajamos{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.slogan__comoTrabajamos img{
    width: 130px;
    height: 130px;
}
.slogan__comoTrabajamos__head{
    display: flex;
    align-items: center;
}




@media only screen and  (max-width:600px) {
    
    .comoTrabajamos h4{
        font-size: 50px;
    }
    .slogan__comoTrabajamos img{
        width: 60px;
        height: 60px;
    }
    
    
}
