.loading__container{
    position: fixed;
    top: 0;
    z-index: 1100;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:#000000;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease-in;
}

.loading__none{
    display: none;
    transition: all 0.5s ease-in;
}

