.logo__gris{
    width: 100px;
    margin-top: 100px;
}

.logo__redes{
   width: 42px;
   height: 42px;
   border: solid #FF6F00;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   cursor: pointer;
    
}

footer{
    height: max-content;
    display: flex;
    background-color: #0D0D0D ;
    flex-direction: column;
    align-items: center;
}

.logos__redes__container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 50px;
    flex-wrap: wrap;
    
    
}


footer h4{
    font-size: 14px;
    padding-bottom: 50px;
    color: #FFFFFF;
}


@media only screen and  (max-width:600px) {
        
        footer h3{
            width: 80%;
            margin-top: 30px;
            text-align: center;
        }
}